<h1>Welcome to the longest word-game !********"</h1>
<p> "Here is your grid :"<p>
<%= @grid %>
<p>"*****************************************************"</p>
<h2>What's your best shot?</h2>
<form action="/score">
  <input type="text" id="question" name="best_shot" placeholder="The Donald?">
  <input type="submit" value="Go on!">
</form>

